body{
    background-color: darkkhaki;
}


.header-component{
    background-color: darkolivegreen;
    color: darkslategrey;
    font-size: 100px;
    font-style: oblique;
    width: 100%;
}

.header-component__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.context{
    background-color: dimgrey;
    color: gold;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    right: 120px;
    left: 20px;
    font-style: italic;
    
}

.header-component__nav__btn{
    text-decoration: none
}
